name: CI Workflow

on:
  pull_request:
    branches: [master]

permissions:
  id-token: write
  pages: write

jobs:
  run_linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.4

      - name: Install Prettier dependencies
        run: npm install --save-dev --save-exact prettier

      - name: Install Node.js dependencies
        run: npm i

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          prettier: true

      - name: Code Coverage Reporting
        uses: brobles82/lcov-reporter-action@node20.9.3

      - name: Build
        run: npm run build
        
      - name: Run Tests
        run: npm test
