name: CI Workflow

on:
  pull_request:
    branches: [master]

permissions:
  id-token: write
  pages: write

jobs:
  run_linters:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0

      - name: Install Prettier dependencies
        run: npm install --save-dev --save-exact prettier

      - name: Install Node.js dependencies
        run: npm i

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          prettier: true

      - name: Code Coverage Reporting
        uses: brobles82/lcov-reporter-action@node20.9.3
      
      - name: Build
        run: cd ./src && npm run build
        
      - name: Run Tests
        run: npm test

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
  deploy:
    # Add a dependency to the build job
    needs: run_linters

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action


        
